// Typography
$base-font: 'Nunito', helvetica neue, helvetica, arial, sans-serif
$base-font-size-lg: 20px
$base-font-size: 18px
$base-font-size-xs: 16px

//Colors
$color-space-blue: #326C81
$color-orange-cheese: #ffa500
$color-white: #fcfcfc
$color-black: #1a1a1a
$shadow: rgba(0,0,0,0.25)
